# Ignore everything by default
*

# Allow the gitignore file itself
!.gitignore

# Allow the documentation and requirements
!README.md
!requirements.txt

# Allow the 12 Jupyter Notebooks
!Battery_SOH_GPR_Scratch.ipynb
!Battery_SOH_GPR_Sklearn.ipynb
!California_Housing_GPR_Scratch.ipynb
!California_Housing_GPR_Sklearn.ipynb
!Delhi_AQI_GPR_Scratch.ipynb
!Delhi_AQI_GPR_Sklearn.ipynb
!Energy_Prediction_GPR_Scratch.ipynb
!Energy_Prediction_GPR_Sklearn.ipynb
!NOx_Emissions_GPR_Scratch.ipynb
!NOx_Emissions_GPR_Sklearn.ipynb
!Sarcos_Robot_GPR_Scratch.ipynb
!Sarcos_Robot_GPR_Sklearn.ipynb

# Allow Presentation PDFs and TeX sources
!GPML_Chapters_1_and_2_Presentation.pdf
!GPML_Chapter_4_Presentation.pdf
!beamer_chapters1_2.tex
!beamer_chapter4.tex
!IITM_Research_Internship_Project_Report.md
!IITM_Research_Internship_Project_Report.pdf
